# Arquivos temporários do R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Configurações locais do Positron / VS Code
.vscode/

# Arquivos temporários do Quarto
.quarto/
*_cache/
**/*.quarto_ipynb

# Arquivos de log
*.log

# Dados
*.csv
*.xlsx
*.dta
*.rds
*.rda
*.sav
